<launch>

    <arg name="world"/>
    <arg name="map" default="$(find df_bridge)/map/map.yaml"/>
    <arg name="optitrack" default="false"/>
    <arg name="pozyx" default="true"/>
    <arg name="sync" default="false"/>

    <param name="world" value="$(arg world)"/>
    <remap from="head/pose" to="optitrack/head"/>
    <node pkg="df_bridge" type="df_bridge.py" name="df_bridge" output="log">
      <param name="odom" value="mocap_odom"/>
    </node>
    <node if="$(eval arg('map') != False)" pkg="map_server" type="map_server" name="map_server" output="log" args="$(arg map)"></node>

    <remap from="rigid_bodies" to="optitrack/rigid_bodies"/>
    <node if="$(arg optitrack)" pkg="optitrack_df" type="optitrack_df_bridge.py" name="optitrack_bridge">
      <param name="max_rate" value="1.0"/>
    </node>
    <node if="$(arg pozyx)" pkg="pozyx_df" type="pozyx_df_bridge.py" name="pozyx_bridge" output="log">
        <rosparam param="topics">
           -
             tag: 0x6075
             name: /pose
             type: pose
        </rosparam>
    </node>
    <!-- <node if="$(arg sync)" pkg="sync_df" type="sync_node.py" name="sync_node" output="log">
      <param name="world_name" value="Footbots"/>
    </node> -->
</launch>
