<launch>
  <node pkg="sync_df" type="sync_footbot_node.py" name="sync_node" output="screen">
     <param name='world_name' value='Footbots'/>
     <rosparam param="paths">
        footbot_32: L2S108,L2S66,...
        footbot_51: L2S108,L2S66,...
        footbot_53: L2S108,L2S66,...
        footbot_55: L2S105,L2S69,...
        footbot_60: L2S105,L2S69,...
        footbot_66: L2S105,L2S69,...
     </rosparam>
  </node>
</launch>
