<launch>

    <arg name="world"/>
    <arg name="map" default="$(find df_bridge)/map/map.yaml"/>
    <arg name="optitrack" default="false"/>
    <arg name="pozyx" default="false"/>

    <param name="world" value="$(arg world)"/>
    <node pkg="df_bridge" type="df_bridge.py" name="df_bridge" output="log"></node>
    <node if="$(eval arg('map') != False)" pkg="map_server" type="map_server" name="map_server" output="log" args="$(arg map)"></node>


    <node if="$(arg optitrack)" pkg="optitrack_df" type="optitrack_df_bridge.py" name="optitrack_bridge">
      <remap from="rigid_bodies" to="optitrack/rigid_bodies"/>
    </node>
    <node if="$(arg pozyx)" pkg="pozyx_df" type="pozyx_df_bridge.py" name="pozyx_bridge" output="log">
        <rosparam param="topics">
           -
             tag: 0x6075
             name: rover_0/mavros/mocap/pose
             type: pose
        </rosparam>
    </node>
</launch>
