<launch>

    <arg name="world"/>
    <arg name="map" default="$(find df_bridge)/map/map.yaml"/>
    <arg name="optitrack" default="true"/>
    <arg name="pozyx" default="true"/>
    <arg name="network" default="wifi"/>
    <param name="world" value="$(arg world)"/>
    <node pkg="df_bridge" type="df_bridge.py" name="df_bridge" output="screen">
      <param name="network" value="$(arg network)"/>
    </node>
    <node if="$(eval arg('map') != False)" pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map)"></node>
    <node if="$(arg optitrack)" pkg="optitrack_df" type="optitrack_df_bridge.py" name="optitrack_bridge" output="screen">
      <remap from="rigid_bodies" to="optitrack/rigid_bodies"/>
    </node>
    <node if="$(arg pozyx)" pkg="pozyx_df" type="pozyx_df_bridge.py" name="pozyx_bridge" output="screen">
        <rosparam param="topics">
           -
             tag: 0x6075
             name: rover_0/pozyx/pose
             type: pose
           -
             tag: 0x6075
             name: copter_0/pozyx/pose
             type: pose
           -
             tag: 0x6F45
             name: copter_1/pozyx/pose
             type: pose
           -
             tag: 0x6044
             name: copter_2/pozyx/pose
             type: pose
        </rosparam>
    </node>
    <node if="$(arg sync)" pkg="sync_df" type="sync_node.py" name="sync_node" output="screen">
      <param name="world_name" value="TestDF"/>
    </node>
</launch>
